@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{font-family: buda, 'roboto', Times, serif;
margin: 0
;}


nav{
  
     padding: px;
     background-color: #ccc5b9;
     color: #252422;
    grid-area:nav; 
    }

    .logo-alexander{
    height:40px;
    padding-top: 5px;
    }

    .navegacion-cv{
  
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    }

    .navegacion-cv a{
    text-decoration: none;
    color: black;
    }

    
main {grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    .container{ 
       position: relative;
       
    }
   
    
    .container img{
        width: 100%;
        height: 100%;
       
    }

    .container p {
        position: absolute;
        top:75%;
        width: 90%;
        height: 90px;
        background-color: #403d39;
        padding: 5px;
        left: 15px;
        text-align: center;
        border-radius: 30px;
        color: #ccc5b9;

      
    }
   
    .deslizar{
        animation: deslizar 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @keyframes deslizar {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
      


footer{ 
    grid-area: footer;
    background-color: #ccc5b9;
     color: #252422;
     display: flex;
     flex-direction: row;
     padding: 8px;
     justify-content: center;
     align-items: center;
}


body{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main "
    "main main"
    "footer footer";
    grid-template-columns: auto  auto;
    grid-template-rows:9% auto auto 8%;
    height: 100vh;
}



.formacion-academica{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.formacion-academica-item {padding: 15px;}

.experiencia-laboral{
  display: grid;
  grid-template-columns: auto auto;

}

.experiencia-laboral-item{
  text-align: center;
  padding: 10px 5px 10px 5px;
}

.titulo-experiencia{padding-bottom: 20px;}
.line{ }

.vacio {}

.titulo-mis-trabajos {text-align: center;
padding: 10px;margin: 5px;}

.tarjetas-mis-trabajos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.tarjeta{
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border:8px solid #252422;
  position: relative;
  
}

.tarjeta-img{ 
width: 100%;
height: 100%;
object-fit:cover;
border-radius: 15px;
}

.tarjeta-body{
  width:100% ;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: color #1f3d47;;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #403d39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  

}

.tarjeta:hover .tarjeta-body{
  right: 0;
}


.tarjeta-titulo{
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;

}

.tarjeta-subtitulo{
  text-transform: capitalize;
  font-size: 10px;
  line-height: 25px;
  padding: 20px;
  
}

.tarjeta-botom{

color: #1f3d47;
background: #8fabba;
padding:20px;
border-radius: 5px;
text-transform: capitalize;
border: none;
outline: none;
font-weight: 500;
cursor: pointer;
width: 70%;
}

form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}

form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

form button {
  padding: 0.5em 1em;
  border: none;
  background: rgba(17, 18, 18, 0.144);
  cursor: pointer;
}








input {
width: 100%;
padding: 5px;
outline: none;
}
label {
    line-height: 30px;
  }

fieldset {
    padding: 20px 40px;
  }

  form button {
    margin: 10px;
   }



   footer{ font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;}
    



@media (min-width: 576px){

    body{
        display: grid;
        grid-template-areas: 
        "nav main"
        "nav main "
        "nav main"
        "footer footer";
        grid-template-columns: 25%  auto;
        grid-template-rows:5% auto auto 8%;
        height: 100vh;
   }

   .navegacion-cv{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 60px;
   }

   .navegacion-cv a {padding: 50px;}
}