@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{font-family: buda, 'roboto', Times, serif;
margin: 0
;}


nav{
  
      padding: 1px;
      background-color:#252422;
      color: #ccc5b9;
      grid-area:nav;
    }
    .navegacion-cv{
  
      display: flex;
      justify-content:space-around;
      align-items: center;
      text-align: center;
      box-sizing: border-box;
      
      }

    .logo-alexander{
      height:40px;
      padding-top: 10px;
      background-color: #ccc5b9;
      border-radius: 20px;
      }
    .navegacion-cv a{
      text-decoration: none;
      color: #ccc5b9;
    }

    
main {grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}

    .container{ 
       position: relative;
       
    }
   
    
    .container img{
        width: 100%;
        height: 100%;
       
    }

    .container p {
        position: absolute;
        top:75%;
        width: 90%;
        height: 90px;
        background-color:#827f7a99;
        padding: 10px;
        left: 15px;
        text-align: center;
        border-radius: 30px;
        color: #252422;
      }
   
    .deslizar{
        animation: deslizar 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    @keyframes deslizar {
        0% {
          letter-spacing: -0.5em;
          opacity: 0;
        }
        40% {
          opacity: 0.6;
        }
        100% {
          opacity: 1;
        }
      }
    
      .container button{
      background-color: #ccc5b9;
      border-radius: 10px;
      margin: 6px;
      cursor: pointer}


.experiencia-laboral-item{border-top: #252422 3px solid ;}
      
.aparecer{ animation: aparecer 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes aparecer {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


footer{ 
    grid-area: footer;
    background-color: #ccc5b9;
     color: #252422;
     display: flex;
     flex-direction: row;
     padding: 8px;
     justify-content: center;
     align-items: center;
}


body{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "main main "
    "main main"
    "footer footer";
    grid-template-columns: auto  auto;
    grid-template-rows:9% auto auto 8%;
    height: 100vh;
}



.formacion-academica{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.formacion-academica-item {padding: 15px;}

.experiencia-laboral{
  display: grid;
  grid-template-columns: auto auto;

}

.experiencia-laboral-item{
  text-align: center;
  padding: 10px 5px 10px 5px;
  height: 240px;
}

.titulo-experiencia{padding-bottom: 20px;}


.titulo-mis-trabajos {text-align: center;
padding: 10px;margin: 5px;}

.tarjetas-mis-trabajos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.tarjeta{
  width: 300px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  border:8px solid #252422;
  position: relative;
  
}

.tarjeta-img{ 
width: 100%;
height: 100%;
object-fit:cover;
border-radius: 15px;
}

.tarjeta-body{
  width:100% ;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: color #1f3d47;;
  backdrop-filter: blur(5px);
  border-radius: 15px;
  color: #403d39;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;
  

}

.tarjeta:hover .tarjeta-body{
  right: 0;
}


.tarjeta-titulo{
  text-transform: uppercase;
  font-size: 20px;
  padding: 20px;

}

.tarjeta-subtitulo{
  text-transform: capitalize;
  font-size: 10px;
  line-height: 25px;
  padding: 20px;
  
}

.tarjeta-botom{

background-color:#252422;
padding:20px;
border-radius: 5px;
text-transform: capitalize;
border: none;
outline: none;
font-weight: 50px;
cursor: pointer;
width: 70%;
font-size: 10px;
}

button a { 
  text-decoration: none;
  color: #ccc5b9; 
  font-size: 15px;
}
form{
  width: 70%;
  max-width: 300px;
  margin: 30px auto 20px auto;
  padding: 20px auto auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  
}
fieldset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

form input {
  width: 90%;
  height: 10px;
  margin: 5px;
}

form button {
  margin: auto;
  width: 50%;
  padding: 5px;
  border: none;
  background: rgba(17, 18, 18, 0.745);
  cursor: pointer;
  
  
}








input {
width: 100%;
padding: 5px;
outline: none;
}
label {
    line-height: 30px;
  }

fieldset {
    padding: 20px 20px;
    border-radius: 20px;

  }




   footer{ font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;}
    



@media (min-width: 576px){

    body{
        display: grid;
        grid-template-areas: 
        "nav main"
        "nav main "
        "nav main"
        "footer footer";
        grid-template-columns: 25%  auto;
        grid-template-rows:5% auto auto 8%;
        height: 100vh;
   }

   .navegacion-cv{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    padding: 60px;
   }

   .navegacion-cv a {padding: 50px;}
}